.extra-card{
    background-image: url("../../../images/extra-card.jpg");
    height: 100px;
}
.lastChance-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-flex{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 200px;
}