.extra-card{
    background-image: url("../../../images/contact-bg.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}
.lastChance-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-flex{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 200px;
}